#locations
SERVER2SERVER_NAME=jira.example.ru
SERVER1REVERSE_PROXY_LOCATION1=/
SERVER1REVERSE_PROXY_PASS1=http://jira:8080

#https
SERVER1HTTP_ENABLED=false
SERVER1HTTPS_ENABLED=true
NGINX_REDIRECT_PORT80=true
SERVER1LETSENCRYPT_CERTIFICATES=true

# Forward headers
SERVER1REVERSE_PROXY_HEADER1FIELD1=X-Forwarded-Host $host
SERVER1REVERSE_PROXY_HEADER1FIELD2=X-Forwarded-Server $host
SERVER1REVERSE_PROXY_HEADER1FIELD3=X-Forwarded-For $proxy_add_x_forwarded_for
SERVER1REVERSE_PROXY_DIRECTIVE1FIELD1=proxy_read_timeout 300

#Certificates
SERVER1CERTIFICATE_FILE=/etc/letsencrypt/live/example.com/cert.pem
SERVER1CERTIFICATE_KEY=/etc/letsencrypt/live/example.com/privkey.pem
SERVER1CERTIFICATE_TRUSTED=/etc/letsencrypt/live/example.com/fullchain.pem