# DB
JIRA_DATABASE_URL=postgresql://downtown@postgresql/no_way_out
JIRA_DB_PASSWORD=happycat

#Host
JIRA_PROXY_NAME=jira.example.ru
JIRA_PROXY_PORT=443
JIRA_PROXY_SCHEME=https

#Memory
CATALINA_OPTS=-Xms1g -Xmx1g
